<div class="container">
  <div class="row my-3">
    <div class="col-4-sm">
      <ul class="list-group"
      *ngFor="let month of users | uniqueMonth"
      (mouseenter)="onFilterUsers(month)"
      (mouseleave)="onFilterUsers()"
      >
        <li class="list-group-item list-group-item-action">{{month}}</li>
      </ul>
    </div>
      <div class="col-6-sm">
        <ul class="list-group" *ngFor="let user of usersList">
          <li class="list-group-item list-group-item-action">{{user.fullName}}</li>
        </ul>
    </div>
  </div>
</div>
