<div class="container">
  <div class="row my-3">
    <div class="col-4-sm">
      <ul class="list-group">
        <li *ngFor="let month of getMonths()"
        (mouseenter)="onFilterUsers(month.name)"
        (mouseleave)="onFilterUsers(false)"
        [appStyle]="month.count"
        class="list-group-item list-group-item-action">{{month.name}}</li>
      </ul>
    </div>
      <div class="col-6-sm">
        <ul class="list-group">
          <li
              *ngFor="let user of filterUsers"
              class="list-group-item list-group-item-action">{{user.fullName}}</li>
        </ul>
    </div>
  </div>
</div>
